################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FilesDialog/.vs/FilesDialog
/FilesDialog/Demo/bin/Debug
/FilesDialog/Demo/obj/Debug
/FilesDialog/FilesDialog/bin/Debug
/FilesDialog/FilesDialog/obj/Debug
/FilesDialog/packages
/FilesDialog/Demo/Properties
/FilesDialog/FilesDialog/Properties
